body * {
	text-align:						left;
	color:							#263147;
}

body *.right {
	text-align:						right;
}

body *.center {
	text-align:						center;
}

.reveal .slides >section,
.reveal .slides > section > section {
	height:							100%;
	padding-top:					0px;
}

.reveal ul,
.reveal p {
	font-size:						75%;
}

.reveal ul > li {
	line-height:					2.2;
}

.slides section.center,
.slides section.center p,
.slides section.center ul,
.slides section.center h1,
.slides section.center h2,
.slides section.center h3,
.slides section.center h4,
.slides section.center h5,
.slides section.center h6 {
	text-align:						center;
	margin-left:					0px;
}

.reveal p,
.reveal ul,
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
	text-transform:					none;
	margin-left:					90px;
	color:							#263147;
}

.reveal .intro * {
	color:							#FFFFFF;
	line-height:					1.0;
	margin-bottom:					0px;
	text-shadow:					1px 1px 0.02em #000000, 0px 0px 0.5em #000000 !important;
}

.reveal ul {
	margin-left:					120px;
}

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
	margin-left:					90px;
}

.reveal .index-img {
	margin-left:					-60px;
	background-color:				#214B9F;
	border-radius:					100px;
	border-width:					0px;
	padding:						15px;
	font-size:						0px;
	background-image:				url(../img/index.png);
	background-size:				90px;
	background-repeat:				no-repeat;
	background-position:			10px 30px;
	width:							90px;
	height:							90px;
	display:						block;
}

section.index.present *:not(.index-img) {
	margin-left:					90px;
}

section.index.present ul {
	display:						block;
	font-size:						75%;
}

.reveal .index-img:before {
	content:						" ";
	background-color:				#214B9F;
	display:						block;
	position:						absolute;
	width:							3px;
	height:							50%;
	margin-top:						100px;
	margin-left:					45px;
}

.reveal .index-img:after {
	content:						" ";
	background-color:				#214B9F;
	display:						block;
	position:						absolute;
	width:							13px;
	height:							13px;
	margin-top:						calc(50% - 40px);
	margin-left:					40px;
	border-radius:					50px;
}

.reveal .slides section.index li {
	margin-left:					90px;
	padding-left:					30px;
	margin-bottom:					40px;
	list-style:						none;
	line-height:					1.0;
	background:						#F0F0F0;
	background:						-webkit-linear-gradient(left, #F0F0F0, rgba(240, 240, 240, 0.75) 66.66%, transparent);
	background:						-moz-linear-gradient(left, #F0F0F0, rgba(240, 240, 240, 0.75) 66.66%, transparent);
	background:						-o-linear-gradient(left, #F0F0F0, rgba(240, 240, 240, 0.75) 66.66%, transparent);
	background:						linear-gradient(to right, #F0F0F0, rgba(240, 240, 240, 0.75) 66.66%, transparent);
}

.reveal .slides section li.index-selected {
	color:							inherit;
}

.reveal .slides section li.index-selected.visible,
.reveal .slides section li.index-selected.highlight-blue.visible {
	color:							#FFFFFF;
	background:						#6B6D82;
	background:						-webkit-linear-gradient(left, #6B6D82, rgba(107, 109, 130, 0.75) 66.66%, transparent);
	background:						-moz-linear-gradient(left, #6B6D82, rgba(107, 109, 130, 0.75) 66.66%, transparent);
	background:						-o-linear-gradient(left, #6B6D82, rgba(107, 109, 130, 0.75) 66.66%, transparent);
	background:						linear-gradient(to right, #6B6D82, rgba(107, 109, 130, 0.75) 66.66%, transparent);
}

.reveal img.right-img {
	position:						absolute;
	/* width:							300px; */
	/* height:							300px; */
	top:							75px;
	right:							50px;
}

.reveal .no-margin {
	margin-left:					0px;
}

.reveal img.img-nobg {
	background:						none;
	border:							none;
	box-shadow:						none;
}

.reveal .controls button.navigate-start {
	left:							42px;
	top:							42px;
	border-width:					12px;
	opacity:						0.05;
	border-color:					#42AFFA;
	border-radius:					50px;
}

.reveal .controls button.navigate-start:hover,
.reveal .controls button.navigate-start:active,
.reveal .controls button.navigate-start:focus {
	opacity:						0.7;
}

.reveal .controls button.navigate-start:active,
.reveal .controls button.navigate-start:focus {
	border-color:					#8DCFFC;
}

.reveal section .page-number,
.reveal section .copyrights {
	position:						absolute;
	right:							0;
	bottom:							15px;
	background:						none;
	color:							#808080;
	font-size:						0.3em;
	font-weight:					normal;
	font-style:						normal;
	text-shadow:					none;
	padding-left:					30px;
}

.reveal section .copyrights {
	right:							30px;
}

.wrapper {
	height:							80%;
	display:						table;
	width:							100%;
}

.wrapper div {
	vertical-align:					middle;
	height:							auto;
	display:						table-cell;
}

.reveal .code-slide pre  {
	box-shadow:						none;
}

.reveal .code-slide pre code {
	background-color:				rgba(65, 65, 65, 0.90);
	border-radius:					8px;
	padding:						50px 15px;
	margin-top:						10%;
	box-shadow:						0px 0px 6px rgba(0, 0, 0, 0.3);
}


