
.reveal .intro * {
	color:							#263147;
	line-height:					1.0;
	margin-bottom:					0px;
	text-shadow:					1px 1px 0.02em #F0F0F0, 0px 0px 0.5em #F0F0F0 !important;
}

.reveal a {
	color:							#2B71A0;
}

.reveal a:hover {
	color:							#5E9FCC;
}

.reveal h2.title {
	font-size:						130%;
}